div{
    background-color: royalblue;
    height: 100px;;
    width:100%;
}
.top a{
    float:left;
    padding: 20px;
    color:aliceblue; 
    font-size:large ;
    margin-top: 15px;
    margin-right: 20px;
}
input{
    height: 30px;
    width: 300px;
    padding: 15px; 
    border-radius:60px;
    float:right;
    margin-top: 25px;
    margin-right: 35px;
}